/* default sass file */
@import "compass";
@import "layout.scss";
@import "variables.scss";
@import "mixins.scss";
@import "tags.scss";
@import "classes.scss";
// ids
#container{
  height: 100%;
}
#footer, #main{
  margin: auto;
  width: 90%;
}
#footer{
  background-color: #D9E3FF;//#ddd;
  border-radius: 8px;
  box-shadow: 0 -4px 20px #999 inset;
  @include centered-vertical;
  padding: 10px;
}
#main{
  box-shadow: 0 0 4em #ccc;
  margin-bottom: -60px;
  min-height: 100%;
  padding: 10px 25px;
  padding-bottom: 60px;
}
#nav, #logo{
  @include centered-vertical;
}