<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="import" id="imp1" href="imports/test1.html">
    <meta charset="UTF-8">
    <title>HTML5 import</title>
</head>
<body>
<script>
    var link = document.querySelector('link[rel="import"]');
    var content = link.import;

    // Grab DOM from warning.html's document.
    var el = content.querySelector('.warning');

    document.body.appendChild(el.cloneNode(true));
</script>
<!--<template id="blog-post">
    <div class="post">
        <h2 class="post-title"><a href=""></a></h2>
        <p class="post-snippet"></p>
    </div>
</template>-->
</body>
</html>