<style>
a.foo {
    background: #69f;
    color: #000;
    padding: 5px 10px;
    transition: background 0.5s ease, color 1.0s ease;
    /*    transition: all 0.5s ease;    если для всех - одинаково */
}
a.foo:hover {
    background: #33f;
    color: #fff;
}
</style>
<h2>Transition</h2>
<a href="javascript:void(0)" class="foo">Hover me!</a>
<hr/>
<p>Ссылки:</p>
<a href="http://habrahabr.ru/search/?q=%5Bcss3%5D&target_type=posts">CSS3</a> на Habrahabr.
<br/>
<a href="http://habrahabr.ru/post/111658/">http://habrahabr.ru/post/111658/</a>
<br/><br/>
<table border="1" cellspacing="0" cellpadding="4">
    <colgroup>
        <col/>
        <col style="background-color: #eee"/>
        <col style="background-color: #ddd"/>
    </colgroup>
    <tbody><tr>
        <td>transition-property</td>
        <td>Свойство, к которому применяем анимацию</td>
        <td>Практически любое свойство CSS: color, background, width, font-size и т.д.</td>
    </tr>
    <tr>
        <td>transition-duration</td>
        <td>Длительность анимации</td>
        <td>Время в секундах: 0.5s — полсекунды, 60s — одна минута и т.д.</td>
    </tr>
    <tr>
        <td>transition-timing-function</td>
        <td>Временная функция, используемая для анимации</td>
        <td>ease, linear, ease-in-out, ease-in, ease-out, cubic-bezier</td>
    </tr>
    <tr>
        <td>transition-delay</td>
        <td>Задержка анимации</td>
        <td>Время в секундах: 0.5s — полсекунды, 60s — одна минута и т.д.</td>
    </tr>
    </tbody>
</table>